{%load static%}
    <h6>Made With Love By Diego Garcia All Right Reserved</h6>
    <div id="social-icons">
        <a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
    </div>

    <a href="https://api.whatsapp.com/send?phone=573142208661&amp;text=Hola%20Profe%20un%20Saludo." class="boton-ws-float">
        <i class="fa-brands fa-whatsapp"></i>
        </a>